
<div class="p-8 rounded-md">
  <div class="space-x-8">
    <h2 class="text-gray-600 font-semibold">Liste des Plats</h2>
  </div>
  <div id="search-bar" class="flex justify-between items-center" style="margin-top: 2rem;">
    <div>
    </div>
      <div class="lg:ml-40 ml-10">
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center gap-4">
          <app-button (click)="openModalFunc()"></app-button>
        </div>
      </div>
  </div>
  <!-- <app-table [data]="ListeUserAffichage" (actionEffectuee)="traiterAction($event)" [titre]="titreTable" [isEdit]="isEditable" [isDelete]="isDeleted" ></app-table> -->
  <div class="container_listPlats">
    <div class="cards">
      <!-- <div class="card" *ngFor="let plat of ListPlats">
        <div class="profile-pic" width="666.66669" height="666.66669" viewBox="0 0 666.66669 666.66669">
           <img src="{{plat.image}}" alt="">
        </div>
        <div class="bottom">
            <div class="content">
                <span class="name">{{plat.nom}}</span>
                <span class="price text-green-600">{{plat.prix}} fcfa</span>
                <span class="about-me">{{plat.description}} </span>
            </div>
           <div class="bottom-bottom">
            <div class="social-links-container">
              <svg (click)="deletePlat(plat.id)" xmlns="http://www.w3.org/2000/svg" width="20" height="19.999" viewBox="0 0 24 24" fill="currentColor">
                <path d="M7 6V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7ZM13.4142 13.9997L15.182 12.232L13.7678 10.8178L12 12.5855L10.2322 10.8178L8.81802 12.232L10.5858 13.9997L8.81802 15.7675L10.2322 17.1817L12 15.4139L13.7678 17.1817L15.182 15.7675L13.4142 13.9997ZM9 4V6H15V4H9Z" ></path>
              </svg>

              <svg (click)="remplirForm(plat.id)" xmlns="http://www.w3.org/2000/svg" width="20" height="19.999" viewBox="0 0 24 24" fill="currentColor">
                <path d="M5 18.89H6.41421L15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89ZM21 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L9.24264 18.89H21V20.89ZM15.7279 6.74785L17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785Z"></path>
              </svg>
            </div>
           </div>
        </div>
      </div> -->
      <div class="card" *ngFor="let plat of ListPlats">
        <div class="card-image-container">
          <img src="{{plat.image}}" alt="image">
        </div>
        <div class="flex justify-between flex-wrap gap-2">
          <p class="card-title">{{plat.nom}}</p>
          <p class="card-prix text-[#D91849] font-semibold">{{plat.prix}} fcfa</p>
        </div>
        <p class="card-des">
          {{plat.description}}
        </p>
        <div class="flex items-center pt-2">
          <button (click)="deletePlat(plat.id)" type="button" class="w-full flex justify-center border-l border-t border-b text-base font-medium rounded-l-md text-black bg-white hover:bg-gray-100 px-4 py-2">
            <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="19.999" viewBox="0 0 24 24" fill="red">
              <path d="M7 6V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7ZM13.4142 13.9997L15.182 12.232L13.7678 10.8178L12 12.5855L10.2322 10.8178L8.81802 12.232L10.5858 13.9997L8.81802 15.7675L10.2322 17.1817L12 15.4139L13.7678 17.1817L15.182 15.7675L13.4142 13.9997ZM9 4V6H15V4H9Z" ></path>
            </svg>
          </button>
          <button (click)="remplirForm(plat.id)" type="button" class="w-full flex justify-center  border text-base font-medium text-black bg-white hover:bg-gray-100 px-4 py-2">
            <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="19.999" viewBox="0 0 24 24" fill="#ffd900">
              <path d="M5 18.89H6.41421L15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89ZM21 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L9.24264 18.89H21V20.89ZM15.7279 6.74785L17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785Z"></path>
            </svg>
          </button>
      </div>
      </div>
    </div>
  </div>
<!--
  <nav *ngIf="ListeUser && ListeUser.length > 0" class="pagination mb-4 flex justify-center space-x-4" aria-label="Pagination">
    <span (click)="previousPage()" class="cursor-pointer rounded-lg border border-[#ff7900] px-2 py-2 text-gray-700">
        <span class="sr-only">Previous</span>
        <svg class="mt-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd">
            </path>
        </svg>
    </span>


    <span class="cursor-pointer rounded-lg border border-[#ff7900] px-4 py-2 text-gray-700"
      [ngClass]="{'bg-[#ff7900] text-white': pageNumber == currentPageUser}"
      *ngFor="let pageNumber of totalPages"
      (click)="goToPage(pageNumber)">
        {{ pageNumber }}
    </span>


    <span (click)="nextPage()" class="cursor-pointer rounded-lg border border-[#ff7900] px-2 py-2 text-gray-700">
        <span class="sr-only">Next</span>
        <svg class="mt-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd">
            </path>
        </svg>
      </span>

  </nav> -->
</div>






<div class="container_form" [ngClass]="{show: openModalAdd}">

  <div class="bg-white border border-4 rounded-lg shadow relative m-10">

    <div class="flex items-start justify-between p-5 border-b rounded-t">
        <h3 class="text-xl font-semibold">
            Ajouter un Plat
        </h3>
        <button (click)="openModalFunc()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="product-modal">
           <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
    </div>

    <div class="p-6 space-y-6">
        <form [formGroup]="addPlat">
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <div class="mt-2 bg-gray-100 w-40 h-40 m-auto rounded-full" style="margin-bottom: .5rem; position: relative;">
                  <label for="fileInput" class="w-40 h-40 m-auto rounded-full shadow">
                      <img src="{{defaultimage}}" class="w-40 h-40 m-auto rounded-full" alt="">
                  </label>
                  <input id="fileInput" type="file" class="file bg-red-500 z-10 w-40 h-40 absolute top-0 left-0 opacity-0 cursor-pointer" (change)="onFileChange($event)" accept=".jpeg, .jpg, .png">
                </div>
                <div class="mt-[1rem]" x-show="photoPreview" style="display: none;">
                    <span class="block w-40 h-40 rounded-full m-auto shadow" x-bind:style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url('null');">
                    </span>
                </div>
          </div>
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="product-name"  class="text-sm font-medium text-gray-900 block mb-2">Nom du Plat</label>
                    <input type="text" formControlName="nom" id="product-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Plat" required="">
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label for="price" class="text-sm font-medium text-gray-900 block mb-2">Prix</label>
                  <input type="number" name="price" formControlName="prix" id="price" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="en cfa" required="">
                </div>
                <div class="col-span-full">
                    <label for="category" class="text-sm font-medium text-gray-900 block mb-2">Type du plat</label>
                    <!-- <input type="text" name="category" id="category" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Electronics" required=""> -->
                    <select formControlName="type_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Type" required="">
                      <option *ngFor="let type of listType" value="{{type.id}}">{{type.nom}}</option>
                    </select>
                </div>
                <div class="col-span-full">
                    <label for="product-details" class="text-sm font-medium text-gray-900 block mb-2">Product Details</label>
                    <textarea formControlName="description" id="product-details" rows="6" class="bg-gray-50 border h-[5rem] overflow-auto border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-4 resize-none" placeholder="Details"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="p-6 border-t border-gray-200 rounded-b">
        <button *ngIf="!isEdit" (click)="addADish()" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Ajouter</button>
        <button *ngIf="isEdit" (click)="updatePlat()" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Modifier</button>
    </div>

</div>
</div>



<app-loader *ngIf="actifLoader"></app-loader>
