<!-- <div class="part1 cater3-movingBG">
  <h1>Delice Africain</h1>
  <p>Voyagez au cœur de l'Afrique avec chaque bouchée - Delice Africain, où les saveurs exquises vous transportent</p>
</div> -->


<div class="part1 cater3-movingBG">
  <h1>Delice Africain</h1>
  <p>Voyagez au cœur de l'Afrique avec chaque bouchée - Delice Africain, où les saveurs exquises vous transportent</p>
  <div class="buttons mt-[4rem] flex gap-6">
    <button routerLink="/menu" class="button">Menu</button>
    <button routerLink="/reservation" class="button">Reservation</button>
  </div>
</div>


<div class="part2 flex justify-evenly items-center wrap gap-4">
  <div class="img_presenation">
    <img src="../../../../../assets/Black and Yellow Playful Restaurant Food Chef Logo.svg" alt="">
  </div>
  <div class="text w-5/12 p-8">
      <h1 class="text-[#b4002d] font-bold" style="font-size: 3rem;">Delice Africain</h1>
      <h3 class="font-bold" style="font-weight: 600; font-size: 1rem;">Découvrez un festin de saveurs authentiques - une symphonie de délices africains, chaque plat une histoire à savourer chez Delice Africain.</h3>
      <p>Niché au cœur du quartier sénégalais Delice Africain vous ouvre ses portes dans une ambiance chaleureuse et conviviale. <br>
         <br>
        Chez Delice Africain, nous vous invitons à découvrir une cuisine authentique et généreuse, inspirée des saveurs envoûtantes de l'Afrique. Nos plats sont préparés avec des ingrédients frais et de qualité, provenant directement des marchés locaux. <br>
        <br>
        Dans un décor qui évoque l'essence même de l'Afrique, entre boiseries exotiques et motifs colorés, laissez-vous emporter par une expérience culinaire unique, où chaque bouchée raconte une histoire de tradition et de passion. <br>
        <br>
        Accompagnez votre repas avec notre sélection de vins raffinés, choisis avec soin pour compléter parfaitement chaque plat et sublimer votre expérience gustative. <br>
        <br>
        Delice Africain, où les saveurs authentiques rencontrent l'hospitalité sénégalaise pour créer des souvenirs inoubliables. Venez nous rejoindre et laissez-vous envoûter par la magie de l'Afrique.</p>
        <div class="buttons mt-[4rem] flex gap-6">
          <button routerLink="/menu" class="button">Menu</button>
          <button routerLink="/reservation" class="button">Reservation</button>
        </div>
  </div>
</div>


<swiper-container slides-per-view="5" [autoplay]=" 3000" loop="true" navigation="true" pagination="true">
  <swiper-slide>
    <img src="../../../../../assets/plat1.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../../assets/plat2.jpg" alt="">

  </swiper-slide>
  <swiper-slide>
    <img src="../../../../../assets/plat3.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../../assets/plat4.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../../assets/plat5.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../../assets/plat6.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../../assets/plat7.jpg" alt="">
  </swiper-slide>
  <swiper-slide>
    <img src="../../../../../assets/plat8.jpg" alt="">
  </swiper-slide>
</swiper-container>

<div class="part3 flex justify-evenly items-center wrap gap-4">
  <div class="text w-5/12 p-8">
      <h1 class="text-[#b4002d] font-bold" style="font-size: 2rem;">Découvrez l'excellence de nos desserts, une symphonie sucrée de saveurs exotiques</h1>
      <p>
        Chez Delice Africain, nous vous proposons une sélection exquise de douceurs artisanales, inspirées des recettes traditionnelles africaines. Succombez au plaisir gourmand avec nos délices tels que le baklava aux noix caramélisées, le tiramisu revisité aux saveurs d'hibiscus ou encore notre irrésistible tarte à la mangue et à la noix de coco.

        <br>
        <br>
      Laissez-vous séduire par ces créations sucrées qui parachèvent parfaitement votre expérience gastronomique chez Delice Africain."
      </p>
        <div class="buttons mt-[4rem] flex gap-6">
          <button routerLink="/reservation" class="button">Reservation</button>
        </div>
  </div>
  <div class="img_presenation">
    <img src="../../../../../assets/desertPresentation.jpg" alt="">
  </div>
</div>


<div class="part4 p-4">
  <div class="profil rounded">
    <h3>
      <i class="ri-instagram-fill" style="font-size: 3rem;"></i>
      Delice_africain
    </h3>
  </div>
  <div class="image">
    <img src="../../../../../assets/photo1.jpg" alt="">
    <img src="../../../../../assets/photo2.jpg" alt="">
    <img src="../../../../../assets/photo3.jpg" alt="">
    <img src="../../../../../assets/photo4.jpg" alt="">
    <img src="../../../../../assets/photo5.jpg" alt="">
    <img src="../../../../../assets/photo6.jpg" alt="">
    <img src="../../../../../assets/photo7.jpg" alt="">
    <img src="../../../../../assets/photo8.jpg" alt="">


  </div>
</div>
