<div class="px-4 fixed  transparent backdrop-blur w-full mx-auto sm:px-6" style="z-index: 999;">
  <div class="relative">
      <nav class="relative flex items-center justify-between sm:h-20 md:justify-center" aria-label="Global">
          <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
              <div class="flex items-center justify-between w-full md:w-auto">
                  <a href="#" class="text-[#b4002d] text-2xl"><span class="sr-only">Company Name</span>
                    Delice Africain
                  </a>
                  <div class="flex items-center -mr-2 md:hidden">
                      <button class="inline-flex items-center justify-center p-2 text-gray-400 bg-gray-50 rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-50"  type="button" aria-expanded="false">
                          <span class="sr-only">Open main menu</span>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                          </svg>
                      </button>
                  </div>
              </div>
          </div>
          <div class="hidden md:flex md:space-x-10 list-none">
              <li>
                  <a routerLink="home" [class.activeLink]="isActive('home')" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                      target="">Home</a>
              </li>
              <li>
                  <a routerLink="menu" [class.activeLink]="isActive('menu')" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                      target="">Menu
                  </a>
              </li>
              <li>
                  <a routerLink="reservation" [class.activeLink]="isActive('reservation')" class="text-base font-normal text-gray-500 list-none hover:text-gray-900"
                      target="">Reservation
                  </a>
              </li>
          </div>
          <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0">
              <div class="inline-flex rounded-full shadow">
                  <div href="#"
                      class="inline-flex items-center px-4 py-2 text-base text-white bg-[#D91849] border border-transparent rounded-full cursor-pointer font-base">
                      se connecter
                  </div>
              </div>
          </div>
      </nav>
  </div>
</div>

<router-outlet></router-outlet>



<footer class="flex flex-col space-y-10 justify-center m-10">

  <nav class="flex justify-center flex-wrap gap-6 text-gray-500 font-medium">
      <a class="hover:text-gray-900" href="#">Home</a>
      <a class="hover:text-gray-900" href="#">Menu</a>
      <a class="hover:text-gray-900" href="#">Reservation</a>
  </nav>

  <div class="flex justify-center space-x-5">
      <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
          <img src="https://img.icons8.com/fluent/30/000000/facebook-new.png" />
      </a>
      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
          <img src="https://img.icons8.com/fluent/30/000000/instagram-new.png" />
      </a>
      <a href="https://messenger.com" target="_blank" rel="noopener noreferrer">
          <img src="https://img.icons8.com/fluent/30/000000/facebook-messenger--v2.png" />
      </a>
      <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
          <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
      </a>
  </div>
  <p class="text-center text-gray-700 font-medium">&copy; 2024 Delice Africain. All rights reservered.</p>
</footer>
